.logo {
  display: flex;
  align-items: flex-start;
  padding-left: 10px;
  height: 50px;
  margin-left: 10px;
  padding-bottom: 50px;
  padding-right: 50px;
 height: 50px;
 width: 100px;
}
head {
  border-bottom: 1px solid seashell;
  position: fixed;
}
html {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.nav {
  width: 700px
  height: 25;
  padding-left: 400px;
  margin-left: 500px;
  padding-bottom: 50px;
  text-align: center;
}
.nav span {
  text-decoration: underline;
}
.Image-Background-Content {
  padding-top: 69px;
  height: 700px;
  background-image: url("./images/img-mission-background.jpg");
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin-left: 100px;
  justify-content: center;

}

 .Image-Background-Content .content {
background-color: black;
display: block;
width: 1200px;
height: 120px;
margin-bottom: 297.77px;
margin-top: 297.77px;

 }



.Image-Content {
  display: flex;
  width: 1000px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  margin-left: 200px;

}

.Image img {
  height: 200px;
  width: 300px;
}


.Locations {
  background-image: url("./images/img-locations-background.jpg");
  width: 1200px;
  height: 500px;
  flex-wrap: wrap;
  padding-top: 70px;
  display: block;
  margin-left: 100px;


}

.FlexContainerLocations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;


}

.Downtown {
  background-color: black;
  display: flex;
  padding: 10px,10px,10px,10px;
  margin: 5px, 20px, 5px,20px;
  flex-basis: 280px;
  justify-content: center;
  flex-direction: column;
  opacity: 1;

}


.EastBaySide {
  background-color: black;
  display: flex;
  padding: 10px,10px,10px,10px;
  margin: 5px, 20px, 5px,20px;
  flex-basis: 280px;
  justify-content: center;
  opacity: 1;
  flex-direction: column;
}

.OakDale {
  background-color: black;
  display: flex;
  padding: 10px,10px,10px,10px;
  margin: 5px, 20px, 5px,20px;
  flex-basis: 280px;
  justify-content: center;
  opacity: 1;
  flex-direction: column;
}

.contact {
  height: 200px;

}
.copyright {
  display: block;
  text-align: left;
  padding-left: 20px;
}
